.buttonSuits{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 4px;
}
.redButton{
    color: red;
    border: none;
    background-color: white;
    width: 20%;
    height: auto;
    font-size: 4rem;
  
  }
  .blackButton{
    color: black;
    border: none;
    background-color: white;
    width: 20%;
    height: auto;
    font-size: 4rem;
  
  }

  .redButton:hover{
     border: solid red 1px;  
    border-radius: 5px;    
  }
  .blackButton:hover{
      border: solid black 1px;
      border-radius: 5px;
  }
  