.App {
  text-align: center;
  padding: 13px;
  
}



.buttonSuits{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 4px;
}

.hrColorBlack{
  margin-top: 44px;
 border: solid 1px black;
 display: block;
}

.hrColorRed{
  margin-top: 44px;
  display: block;
 border: solid 1px red;
}